.hero {
    @apply h-[620px] w-full overflow-hidden;
    @media only screen and (max-width: 929px) {
        @apply h-fit;
      }
    img {
        @apply max-h-[620px] w-full;
    }
    &_txt {
        @apply absolute top-[35%] left-[30%] w-[40%] h-[35%] rounded-md text-white;
        background-color: #716464;
        padding: 20px;
        @media only screen and (max-width: 929px) {
            @apply absolute top-[25%] left-[30%] w-[40%] h-[35%] rounded-md text-white;
          }
          @media only screen and (max-width: 768px) {
            @apply absolute top-[20%] left-[10%] w-[80%] h-[25%] rounded-md text-white;
          }
          @media only screen and (max-width: 580px) {
            @apply hidden
          }
        p {
            @apply w-full h-[20%] font-normal mt-3 text-center px-6 text-sm italic;
            line-height: 1.5;
            font-size: 1rem;
        }
        h1 {
            @apply w-full h-[30%] font-normal text-center mt-8 text-3xl;
            line-height: 1.2;
            font-size: 2rem;
        }
    }
}

.gradient_text {
    background: linear-gradient(to right, #FFFFFF, #5EDAF5);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.gradient {
    color: rgba(158, 238, 255, 0.7);
}